*.o
*.d
*~
*.elf
*.map
*.dasm
*.a
*.bin
*.build
*.so
*.fw
*.enc
out.list
build
\#*\#
cscope.files
cscope.in.out
cscope.out
cscope.po.out
.do_built*
.stamp
core
*.rej
target
*.lock
rust/cmix_ex/ex1/test
rust/cmix_ex/ex2/test
a.out.js
a.out.wasm
**/.DS_Store
test_*.txt
.gdb*
push.sh
gdb/*.ld
*.secret
